.parent {
  height: 100vh;
  width: 100%;
  padding-top: 40px;
}
.welcome {
  text-align: center;
}
.card {
  flex: 0 0 25%;
  height: 50px;
  margin-bottom: 30px;
  background-color: ivory;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
